<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>dmvskl.nspaceit.com</MSDeployServiceURL>
    <DeployIisAppPath>Choonbee</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="league_pimaEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=choonbee;Initial Catalog=league_pima;Persist Security Info=True;User ID=choonbee;Password=D3al3r0n" Name="server=choonbee;user id=choonbee;password=D3al3r0n;persistsecurityinfo=True;database=league_pima" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ChoonbeeLive.Models.league_pimaEntities, ChoonbeeLive" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="league_pimaEntitiesMongo" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mongodb://choonbee:D3al3r0n@ds041387.mongolab.com:41387/choonbeelive" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\league_pimaEntitiesMongo_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mongodb://choonbee:D3al3r0n@ds041387.mongolab.com:41387/choonbeelive" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)league_pimaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Choonbee.csdl|res://*/Models.Choonbee.ssdl|res://*/Models.Choonbee.msl;provider=MySql.Data.MySqlClient;provider connection string="server=choonbee;user id=choonbee;password=D3al3r0n;persistsecurityinfo=True;database=league_pima"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)league_pimaEntitiesMongo-Web.config Connection String" />
  </ItemGroup>
</Project>