@{
    ViewBag.Title = "Join";
}

<h2>Join</h2>
@using (Html.BeginForm("CreateAccount", "Registration")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tournament</legend>
        @Html.ValidationMessage("Error18")
        
        @Html.Raw(HttpUtility.HtmlDecode(@Html.ValidationMessage("UsernameTaken").ToHtmlString()))
        <div class="editor-label">
            Email
        </div>
        <div class="editor-field">
            <input type="text" name="username" id="username" />
        </div>

        <div class="editor-label">
            Password
        </div>
        <div class="editor-field">
            <input type="password" name="password" id="password" />
        </div>

        <div class="editor-label">
            Over 18?
        </div>
        <div class="editor-field">
            <input type="checkbox" name="over18" id="over18" value="true"/>
        </div>
        
        <p>
            <input type="submit" value="Make Account!" />
        </p>
    </fieldset>
}